server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:6541/commerce_shopping_store
    username: dbuser
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC
    sql.init.mode: always
